/* styles.css */
:root {
    --color_primario: #333;
    --color_blanco: #fff;
    --altura_header: 80px;
    --padding_left_right: 2rem;
    --ancho_maximo: 1200px;
}


body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--color_blanco);
    font-family: 'Red Hat Text', sans-serif;
    font-weight: 100;
    line-height: 1.3em;
    letter-spacing: .4px;
}

a {
    text-decoration: none;
}

ol,
ul {
    list-style: none;
}

.header {
    height: var(--altura_header);
    background-color: var(--color_primario);
}

.navbar {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 var(--padding_left_right);
}

.menu_hamburguesa {
    display: none;
}

.menu_hamburguesa:checked+.ul_links {
    height: calc(100vh - var(--altura_header));
}

.logo {
    color: var(--color_blanco);
}

.list_icon {
    color: var(--color_blanco);
    cursor: pointer;
}

.ul_links {
    width: 100%;
    background-color: var(--color_primario);
    position: absolute;
    top: var(--altura_header);
    left: 0;
    height: 0;
    overflow: hidden;
    position: relative;
    z-index: 1000;
    /* height: calc(100vh - var(--altura_header)); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    transition: all .3s;
}

.link {
    font-size: 1.5em;
    color: var(--color_blanco);
    font-weight: bold;
}

.form {
    display: flex;
    /* Utilizamos flexbox para alinear los elementos */
    flex-direction: column;
    /* Los elementos se colocan en columnas */
    align-items: center;
    /* Los elementos se alinean al centro */
    border-radius: 20px;
    background-color: #f2f2f2;
    padding: 20px;
}

.form fieldset {
    flex: 1;
    /* El formulario ocupará el 50% del ancho */
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
    /*esapcio entre los contenidos de abajo*/

}

.img {
    flex: 1;
    /* La imagen ocupará el otro 50% del ancho */
    max-width: 50%;
    max-height: 50%;
    width: auto;
    height: auto;
}



.col-labels {
    float: left;
    width: 40%;
    margin-top: 5px;
    display: block;
    margin-bottom: 2px;
}

.col-input {
    float: left;
    width: 60%;
    margin-top: 5px;
}

footer {
    background: #333;
    color: var(--color_blanco);
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}



/* RESPONSIVE */
/*tamaño small para celulares*/
@media only screen and (max-width: 600px) {

    .boton_sumbit {
        width: 30%;
        margin-left: 35%;
        padding: 10px;
    }

    .col-input,
    .col-labels {
        width: 100%;
        margin-top: 10px;
    }
}

/*tamaño medium para tablets*/
@media only screen and (min-width: 600px) {
    .boton_sumbit {
        width: 50%;
        margin-left: 25%;
        padding: 10px;
    }
}

/*tamaño large para escritorios*/
@media only screen and (min-width: 768px) {
    .boton_sumbit {
        width: 100%;
        margin-left: 0%;
        padding: 5px;
    }
}