/* styles.css */
.header {
    background-color: #333;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

#hamburger-menu {
    font-size: 24px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

#sidebar-menu {
    display: none; /* El menú estará oculto inicialmente */
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

li a {
    display: block;
    color: white;
    text-decoration: none;
}

/* Mostrar el menú cuando se hace clic en el ícono de hamburguesa */
#hamburger-menu:checked + #sidebar-menu {
    display: block;
}
